{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        ca.uhn.hapi/hapi-base {:mvn/version "2.5.1"}
        ca.uhn.hapi/hapi-structures-v24 {:mvn/version "2.5.1"}
        ca.uhn.hapi/hapi-structures-v25 {:mvn/version "2.5.1"}
        ca.uhn.hapi/hapi-structures-v26 {:mvn/version "2.5.1"}}
 
 :aliases
 {:dev {:extra-paths ["dev"]
        :extra-deps {hashp/hashp {:mvn/version "0.2.2"}}}
  
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner 
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}
  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.5"}}
          :ns-default build}
  
  :jar {:replace-deps {io.github.seancorfield/depstar {:mvn/version "2.1.303"}}
        :exec-fn hf.depstar/jar
        :exec-args {:jar "hl7v2-stub.jar"
                    :sync-pom true}}
  
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.2.2"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote
                       :sign-releases? false
                       :artifact "hl7v2-stub.jar"}}}}